#navbar {
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 100%;
}

nav a{
  text-decoration: none;
  color: white
}

img {
    max-width: 100%;
    max-height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    margin: 15px;
  }
  
  li a {
    display: block;
    text-align: center;
    text-decoration: none;
  }

#profileLi{
    float:right;
}

#usernameLi{
  float:right;
}

#username{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}